.spinning {
    animation: spin 0.5s linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .scale-up {
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .jump {
    animation: jump 0.5s ease-in-out;
  }
  
  @keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .fade-rotate {
    animation: fadeRotate 1s ease-in-out;
  }
  
  @keyframes fadeRotate {
    0% {
      opacity: 0.5;
      transform: rotate(0deg);
    }
    100% {
      opacity: 1;
      transform: rotate(360deg);
    }
  }
  
  .pulse {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.7;
    }
  }
  
  /* .menu-pointer {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
     border-bottom: 10px solid #fff; *
  } */